<html>
    <head>
      <title>Body Language</title>
    </head>
    <body align=center style="background-color:black;"> 

      <p style=font-size:20px;color:white;padding-top:20px;>
        Body Language using opencv and mediapipe
      </p>
      <div>
        <img style="border-radius: 20px;" id="bg" width=800px height=640px src="{{url_for('video_feed') }}">
      </div>
      
      
    </body>
  </html>